/* Fondo con imagen pixel art de un atardecer */
body {
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    background: url('https://ibb.co/mrRmcQMJ') no-repeat center center fixed;
    background-size: cover;
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Contenedor con fondo semitransparente tipo pixel */
.container {
    background: rgba(0, 0, 0, 0.6);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

/* Botones estilo pixelado */
button {
    font-size: 18px;
    margin: 10px;
    padding: 15px 30px;
    border: 3px solid white;
    background-color: black;
    color: white;
    font-family: 'Press Start 2P', cursive;
    cursor: pointer;
    transition: 0.3s;
}

#yesButton {
    border-color: #ff66b2;
}

#noButton {
    border-color: #ff3333;
}

button:hover {
    transform: scale(1.1);
    background-color: white;
    color: black;
}
